<div class="card animated fadeInDownBig">
  <div class="card__img animated fadeInLeft"></div>
  <div class="card__content">
    <h1 class="card__title animated fadeInDown">
      <span class="small" id="author"><%=@quote.author%></span>
    </h1>
    <p class="card__quote animated fadeInUp"><span id="quote">
      <%= @quote.body%>
    </span></p>
  </div>
</div>